/* Google Font: Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 1rem;
  /* background: #333; */
}

nav {
  max-width: 1200px;
  margin: auto;
}

nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav div img {
  height: 50px;
}

nav div ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

nav div ul li a{
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

nav div ul li a:hover {
  transition: all ease-in 0.1s;
  background: #fff;
  color: #000;
}

nav div ul li:last-child a{
  background: #ff8000e6;
}


main#landing {
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/landing.jpg') no-repeat center center /cover;
}

main#landing .content {
  display: flex;
  height: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 6rem;
}

main h1 span:first-child {
  color: #fff;
}

main h1 span:last-child {
  color: #ff8000e6;
}

main h2 {
  font-size: 2rem;
  color: #fff
}

/* Features Section */
section#features {
  background: #333;
  color: #fff;
}

section#features .content > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#features .content > div div {
  width: 50%;
  padding: 1rem;
}

section#features .content > div:first-child div:last-child {
  background: url('../img/songs.jpg') no-repeat center center /cover;
  height: 300px;
}

section#features .content > div:nth-child(2) div:first-child {
  background: url('../img/lyrics.jpg') no-repeat center center /cover;
  height: 300px;
}

section#features .content > div:last-child div:last-child {
  background: url('../img/affordability.jpg') no-repeat center center /cover;
  height: 300px;
}


section#features h3 {
  padding: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

section#features h4 {
  font-size: 2rem;
  text-align: center;
}

section#features p {
  margin-top: 0.75rem;
  font-size: 1.5rem;
  text-align: justify;
}

/* Plans Section */
section#plans {
  background: #00aaff;
  padding: 3rem 0;
}

section#plans h3 {
  font-size: 3.5rem;
  text-align: center;
}

section#plans .content {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
}

section#plans .content > div {
  width: 300px;
  border-radius: 5px;
  background: #fff;
}

section#plans .content > div > div {
  padding: 0.75rem;
}

section#plans .content > div:first-child {
  border: 5px solid #018029;
}

section#plans .content > div:first-child > div:first-child {
  background: #018029;
}

section#plans .content > div:nth-child(2) {
  border: 5px solid #01399a;
}

section#plans .content > div:nth-child(2) > div:first-child {
  background: #01399a;
}

section#plans .content > div:last-child {
  border: 5px solid #ff8000e6;
}

section#plans .content > div:last-child > div:first-child {
  background: #ff8000e6;
}


section#plans h4 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

section#plans ul {
  list-style-type: none;
  background: #fff;
}

section#plans li {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.3rem;
  padding: 0.5rem;
}

section#plans li:not(:last-child) {
  border-bottom: 1px solid #000;
}